@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  h1 {
    margin:1em;
    font-size: 25px;
  }
  .lists-section {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: space-between;
  }
  .list {
    margin: 0 30px;
  }
}